main{
    width: calc(100% - 14.375rem);
    overflow-y: auto;
    background-color: #141922;
    padding-top: 5.625rem;
}

/*-------------------------------------
             ASIDE 
--------------------------------------*/

aside{
    width: 14.375rem;
    background-color: black;
}

aside, section{
    font-size: .75rem;
    color: #717171;
    font-weight: bold;
}

aside h5{
    margin-top: .9375rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-size: .75rem;
}

aside .column{
    overflow-y: auto;
    flex-grow: 1;
    justify-content: space-between;
}

.selezione{
    position: absolute;
    background-color: #adff2f;
}

.sel-laterale{
    height: 1.875rem;
    width: .1875rem;
    top: 0;
    left: -20px;
}

.white{
    color: white;
    overflow-y: hidden;
}

.logo{
    display: block;
}

.logo img{
    padding: 20px 0;
    width: 8.125rem;
}

.logo-small{
    display: none;
}

.logo-small img{
    width: 1.875rem;
}

aside ul {
    list-style: none;
}

aside ul li{
    margin-left: 1.25rem;
    position: relative;
}

aside .download{
    padding-left: 1.25rem;
}

aside ul li img{
    width: 1.875rem;
}

.playlist-nav{
    overflow-y: auto;
    flex-grow: 1;
}

.playlist li:nth-child(2){
    overflow-y: hidden;
}

.playlist .row:hover div{
    background-color: rgba(255, 255, 255, 0.8);
}
.playlist li{
    margin-top: 1.25rem;
}

.aggiungi{
    height: 2.1875rem;
    width: 2.1875rem;
    background-color: #a3a3a3;
    margin-right: .625rem;
    font-size: 1.125rem;
    color: black;
    text-align: center;
    padding-top: .375rem;
}

.nav-head{
    margin-left: 1.25rem;
    overflow-y: visible;
}

.download{
    margin-left: .05rem;
    overflow-y: initial;
}

.download a:first-child{
    padding-bottom: .25rem;
    padding-top: .9375rem;
}

.download img{
    width: 1.25rem;
    margin-right: .3125rem;
}

.profile-img{
    margin-top: .625rem;
    height: 1.5625rem;
    width: 1.5625rem;
    border-radius: 50%;
    background-color: #808080;
    display: inline-block;
    padding: .125rem;
    overflow: hidden;
    margin-right: .375rem;
}

.profile-img img{
    margin-left: .05rem;
}

aside a:last-of-type{
    padding-bottom: .375rem;
}


@media screen and (max-width:600px) {
    aside{
        width: 3.125rem;
        padding-left: .625rem;
        padding-top: .625rem;
    }
    main{
        width: calc(100% - 3.125rem);
    }

    .logo-small{
        display: block;
    }

    .logo{
        display: none;
    }

    .hidden-text{
        display: none;
    }

    aside ul li{
        margin-left: 0;
    }

    .sel-laterale{
        left: -0.625rem;
    }
}

/*-------------------------------------
             /ASIDE 
--------------------------------------*/


/*-------------------------------------
             MAIN HEAD 
--------------------------------------*/
.main-head ul{
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
.main-head ul li{
    margin-bottom: .625rem;
    position: relative;
}

.main-head ul li:not(last-child){
    margin-right: 1.125rem;
}

.main-head ul li a{
    text-transform: uppercase;
    color: inherit;
    font-size: .75rem;
}

.selezionato{
    font-weight: bold;
}

.sel-bassa{
    width: 1.875rem;
    height: .125rem;
    bottom: -0.1875rem;
    left: 1.875rem;
}
/*-------------------------------------
             /MAIN HEAD 
--------------------------------------*/

/*-------------------------------------
             RECENTLY PLAYED
--------------------------------------*/

.anteprima{
    position: relative;
}

.anteprima-completa i{
    font-size: 2.1875rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.0938rem;
    display: none;
    color: white;
}

.anteprima-completa h2{
    padding-bottom: 15px;
    font-size: 1.125rem;
    margin-left: .9375rem;
}

.anteprima-completa h3{
    padding-top: .4375rem;
    font-size: 1rem;
}

.anteprima-completa .col{
    padding: .9375rem;
    width: calc(100%/9);
}

.anteprima-completa .col img{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: .9375rem;
    max-height: 15.625rem;
    max-width: 15.625rem;
}

.anteprima-completa >span{
    margin-left: .9375rem;
    padding-bottom: .9375rem;
}

.anteprima{
    justify-content: flex-start;
}

.creato-per h2{
    padding-bottom: .3125rem;
}

.circle{
    border-radius: 50%;
}



@media screen and (max-width:2000px) {
    .anteprima-completa > .row{
        flex-wrap: wrap;
    }
    .anteprima-completa .col{
        width: calc(100%/6);
    }
}

@media screen and (max-width:1250px) {
    .anteprima-completa .col{
        width: calc(100%/4);
    }
}

@media screen and (max-width:900px) {
    .anteprima-completa .col{
        width: calc(100%/2);
    }
}

@media screen and (max-width:350px) {
    .anteprima-completa .col{
        width: calc(100%);
    }
}

/*-------------------------------------
             /RECENTLY PLAYED
--------------------------------------*/